header {
  display: flex;
  justify-content: space-between;
}

.plaque {
  padding: 1rem;
  background: #eee;
  box-shadow: 0 0 7px #999 inset;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  p {
    display: flex;
    justify-content: space-between;
  }
}

.coverage-list {
  
  .coverage-card {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 7px #999;

    cursor: pointer;
    transition: 0.1s;
    &:hover {
      transition: 0.2s;
      box-shadow: 0 1px 9px #333;
    }

    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "icon title .   percentage"
      "icon bar   bar bar";
  
    &-icon {
      grid-area: icon;

      margin-right: 0.5rem;
      display: flex;
      align-items: center;
    }

    &-book,
    &-percentage {
      font-size: 0.8rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }

    &-icon {
      grid-area: icon;
    }
    &-book {
      grid-area: title;
    }
    &-percentage {
      grid-area: percentage;
    }
    &-progress {
      grid-area: bar;
    }
  }
}


.chapter-report-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.chapter-report {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 7px #999;
  
  flex-basis: calc(25% - 1rem);
  position: relative;

  cursor: pointer;
  transition: 0.1s;
  &:hover {
    transition: 0.2s;
    box-shadow: 0 1px 9px #333;
  }

  &--indicator {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    min-height: 3.5rem;

    &--icon {
      position: absolute;
      left: 20%;
      top: 20%;
      bottom: 20%;
      right: 20%;

      img {
        width: 100%;
      }
    }
  }

  &--index {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: bold;
    font-size: 1.2rem;
    font-family: monospace;
  }

  &--fraction {
    position: absolute;
    bottom: 0;
    right: 0;
    
    font-size: 0.8rem;
    font-weight: bold;
  }

  &--completion {
    //
  }
}