main p {
	margin-bottom: 1rem;
}

/* Hide Vue.js apps until they are compiled */
[v-cloak] {
  display: none;
}

.page-column {
	max-width: 30rem;
  margin: 0 auto;
  
  ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
}

.page-column header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;

	padding: 0; /* unset from main header -- this should be more specific */
}

.page-column header button {
	font-size: 16px;
	padding: 0.5rem;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  border-radius: 0.25rem;
  
  &:disabled {
    color: #666;
    background-color: #ccc;
  }
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $zIndexModal;
}

#model {
  background: #fff;
	max-width: 30rem;
	padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #000;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

#model .form-header {
	grid-column: span 2;
	flex-direction: row;
	justify-content: space-between;
}

#model button.form-close {
	color: #fff;
  background: #000;
  border-color: #000;
}

#model > div {
	display: flex;
	flex-direction: column;
}

#model label {
	font-size: 14px;
}

#model input,
#model select,
#model button {
	font-size: 16px;
	height: 2.5rem;
	padding: 0.5rem;
  border: 2px solid #333;
	width: unset;
  border-radius: 0.25rem;
}

#model input:not(:disabled),
#model select:not(:disabled) {
	background-color: #fff;
}

#model button[type="submit"]:not(:disabled) {
	color: #fff;
	background-color: #000;
}

#model button[type="submit"] {
	grid-column: span 2;
}

@media screen and (max-width: 550px) {
	#model {
		display: flex;
		flex-direction: column;
	}

	#model > div:not(:last-child) {
		margin-bottom: 1rem;
	}
}


table.entry-container {
	margin-top: 1rem;
	width: 100%;
	border-collapse: collapse;
}

table.entry-container td {
	padding: 0.5rem;
}

tr.entry-date-row {
	color: #fff;
	background: #000;
}

tr.entry-row td:last-child {
	text-align: right;
}

tr.entry-row.active {
	background: yellow;
}

tr.entry-row {
  td {
    button {
      background: #ddd;
      border: 0;
      padding: 4px 8px;
      border-radius: 3px;
      margin-left: 3px;
      cursor: pointer;
      &:hover {
        background: #333;
        color: #fff;
        transition: 0.2s;
      }
    }
  }
}