:root {
	font-size: 16px;
}
  
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
  
$breakpoint: 800px;

@mixin mq($breakpoint) {
	@media (min-width: $breakpoint) {
    @content;
  }
}

$zIndexSiteHeader: 3;
$zIndexSiteNav: 2;
$zIndexSiteNavScreen: 1;
  
$header-height: calc(1rem + 1.618rem + 3px);

body {
  &.modal-open {
    overflow-y: hidden;
  }
}

.site-container {
	height: 100vh;
  
	display: flex;
	flex-direction: column;
	padding-top: $header-height;
  
	@include mq($breakpoint) {
	  display: grid;
	  grid-template-columns: auto 1fr;
	  grid-template-rows: auto 1fr;
	  padding-top: 0;
	}
}
  
.site-header {
	background-color: rgb(43, 111, 189);
	color: #fff;
	padding: 0.5rem;
	border-bottom: 1px solid #fff;
	box-shadow: 0 0 5px #000;
  
	display: flex;
	justify-content: space-between;
	
  position: fixed;
  z-index: $zIndexSiteHeader;
	top: 0;
	width: 100%;
  
	@include mq($breakpoint) {
	  position: static;
	  width: auto;
	  grid-area: 1 / 1 / 2 / 3;
	}
}
  
.site-title {
	font-size: 1.5rem;
	font-weight: 300;
}
  
.site-nav-trigger {
  // HACK size to seem smaller for now
  transform: scale(0.7);
  margin: -15px;

	padding: 0.25rem 0.5rem;
	background: transparent;
	color: #fff;
	border-radius: 3px;
	line-height: 1;
	display: flex;
	align-items: center;
	border: 0;
	font-size: 1rem;
	letter-spacing: 1px;
  
	@include mq($breakpoint) {
	  display: none;
  }
  
  &-icon {
    width: 40px;
    height: 30px;
    position: relative;
    margin: 10px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  
    span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: #fff;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 12px;
      }
      &:nth-child(4) {
        top: 24px;
      }
    }
  
    &.active span {
      &:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
  
.site-nav {
	background: #333;
  position: fixed;
  z-index: $zIndexSiteNav;
	top: $header-height;
  width: calc(100% - 2rem);
  max-width: 350px;
	height: calc(100vh - #{$header-height});
  overflow-y: auto;
  
  transition: all 0.2s ease-in;
  left: -100vw;
	&.active {
    left: 0;
    transition: all 0.2s ease-out;
	}
  
	@include mq($breakpoint) {
	  display: block;
	  position: static;
	  width: auto;
	  grid-area: 2 / 1 / 2 / 2;
	  min-width: 12rem;
	}
	
	ul {
	  list-style-type: none;
	  li {
	    .site-nav__welcome {
        color: #fff;
        padding: 0.5rem 1rem;
        display: block;
        border-bottom: 1px solid #444;		
      }
      a {
        display: block;
        padding: 1rem;
        color: #ccc;
        text-decoration: none;
        border-bottom: 1px solid #444;
        @include mq($breakpoint) {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
        &:hover {
          background: #111;
          color: #fff;
          transition: 0.2s;
        }
      }
	  }
	}
}

.site-nav-screen {
  position: fixed;
  z-index: $zIndexSiteNavScreen;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: background-color 0.2s ease-in;

  &.active {
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.2s ease-out;
    pointer-events: all;
  }

  @include mq($breakpoint) {
	  display: none;
	}
}
  
.site-main {
	padding: 1rem 0.5rem;
	@include mq($breakpoint) {
	  padding: 1rem;
	  overflow-y: auto;
	}

	.button-link {
		padding: 1rem;
		background: #ddd;
		color: #000;
		border-radius: 3px;
		line-height: 1;
		display: flex;
		align-items: center;
		border: 0;
		font-size: 1rem;
		letter-spacing: 1px;
		text-decoration: none;
		margin: 0.5rem 0;
		border: 1px solid #666;
		max-width: 20rem;

		&:active {
			color: #333;
			background: #eee;
		}
	}
}

@import 'log.scss';
@import 'coverage.scss';
