<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Bible Log</title>
</head>

<body>
	<div layout:fragment="content">
		
		<p>MyBibleLog.com is a project to help you track and gain insights on your bible reading.</p>
	
		<p>It's a fitness app for studying scripture!</p>

		<p>
			Unlike regular prescriptive reading plans, which tell you what to read and when to read it,
			MyBibleLog.com is entirely descriptive. It tells you what you've read and when you read it.
		</p>

		<p>
			The site is free for all to use and works on any device!
			<span th:unless="${@identity.loggedIn()}" th:remove="tag">Sign in below:</span>
		</p>

		<nav th:unless="${@identity.loggedIn()}">
			<a class="button-link" href="/oauth2/authorization/google">Sign in with Google</a>
			<a class="button-link" href="/oauth2/authorization/facebook">Sign in with Facebook</a>
		</nav>
	</div>
</body>
</html>