<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Bible Log</title>
</head>

<body>
	<div layout:fragment="content">

      <div class="page-column">

        <header>
            <h2>My Bible Log</h2>
        </header>
        
        <p>MyBibleLog.com is a project to help you track and gain insights on your bible reading.</p>
      
        <div class="factoid">
          <div class="datum">66</div>
          <p>The number of books in the bible.</p>
        </div>

        <div class="factoid reverse">
          <div class="datum">1500</div>
          <p>The approximate number of years over which the books of the bible were written.</p>
        </div>
    
        <div class="factoid">
          <div class="datum">70%</div>
          <p>The number of Americans who identify as Christian. (<a href="https://www.pewforum.org/religious-landscape-study/">2014 study</a>)</p>
        </div>
  
        <div class="factoid reverse">
          <div class="datum">11%</div>
          <p>The number of Americans who claim to have read the whole bible. (<a href="https://religionnews.com/2017/04/25/the-bible-helpful-but-unread/">2017 survey</a>)</p>
        </div>
      
        <div class="factoid">
          <div class="datum">1189</div>
          <p>The number of chapters in the bible.</p>
        </div>
    
        <div class="factoid reverse">
          <div class="datum">31,102</div>
          <p>The total number of verses in the bible.</p>
        </div>
        
        <div class="factoid">
          <div class="datum">86</div>
          <p>The number of verses you need to read each day to read the bible in a year.</p>
        </div>
      
        <p>MyBibleLog.com is designed to help you read the entire bible, one piece at a time:</p>
        <ul>
          <li>You don't have to read anything in order &mdash; all passages can be read independently of one another.</li>
          <li>You don't have to follow a reading plan &mdash; you just need to keep reading the portions of the bible you haven't read yet.</li>
        </ul>

        <p>All you really have to do is
          <a href="/log" th:if="${@identity.loggedIn()}">log your reading each day.</a>
          <span th:unless="${@identity.loggedIn()}" th:remove="tag">
            log your reading each day.
            You don't even have to create an account or password to do it - just log in with Google or Facebook to get started:
          </span>
        </p>

        <nav th:unless="${@identity.loggedIn()}">
          <a class="button-link google" href="/oauth2/authorization/google">
            <img src="/icons/google.svg">
            Sign in with Google
          </a>
          <a class="button-link facebook" href="/oauth2/authorization/facebook">
            <img src="/icons/facebook.svg">
            Sign in with Facebook
          </a>
        </nav>
    
      </div>
	</div>
</body>
</html>