<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Bible Log</title>
</head>

<body>
	<div layout:fragment="content">
		
		<div id="js-vue-app" v-cloak class="page-column">

			<header>
				<h2>Reading Log</h2>
				
				<button @click="openAddEntryForm" :disabled="formOpen">Add Entry</button>
			</header>

      <div id="modal-overlay" v-if="formOpen">
        <form id="model" @submit.prevent="onSubmitLogEntryForm">

          <div class="form-header">
            <h2>{{ model.id ? 'Edit' : 'Add' }} Entry</h2>
            <button class="form-close" @click.prevent="closeAddEntryForm">Close</button>
          </div>

          <div>
            <label for="model-date">Date</label>
            <input id="model-date" v-model="model.date" type="date">
          </div>
          
          <div>
            <label for="model-book">Book</label>
            <select id="model-book" v-model="model.book" ref="book" @change="onSelectBook">
              <option disabled value="0" selected>Choose Book</option>
              <option v-for="book in books" v-bind:value="book.bibleOrder">
                {{ book.name }}
              </option>
            </select>
          </div>

          <div>
            <label for="model-startChapter">Start Chapter</label>
            <select v-model="model.startChapter" ref="startChapter" @change="onSelectStartChapter" :disabled="this.model.book === 0">
              <option disabled value="0" selected>Choose Start Chapter</option>
              <option v-for="chapter in startChapters" v-bind:value="chapter">
                {{ chapter }}
              </option>
            </select>
          </div>

          <div>
            <label for="model-startVerse">Start Verse</label>
            <select v-model="model.startVerse" ref="startVerse" @change="onSelectStartVerse" :disabled="this.model.startChapter === 0">
              <option disabled value="0" selected>Choose Start Verse</option>
              <option v-for="verse in startVerses" v-bind:value="verse">
                {{ verse }}
              </option>
            </select>
          </div>

          <div>
            <label for="model-endChapter">End Chapter</label>
            <select v-model="model.endChapter" ref="endChapter" @change="onSelectEndChapter" :disabled="this.model.startVerse === 0">
              <option disabled value="0" selected>Choose End Chapter</option>
              <option v-for="chapter in endChapters" v-bind:value="chapter">
                {{ chapter }}
              </option>
            </select>
          </div>

          <div>
            <label for="model-endVerse">End Verse</label>
            <select v-model="model.endVerse" ref="endVerse" @change="onSelectEndVerse" :disabled="this.model.endChapter === 0">
              <option disabled value="0" selected>Choose End Verse</option>
              <option v-for="verse in endVerses" v-bind:value="verse">
                {{ verse }}
              </option>
            </select>
          </div>
          
          <button type="submit" ref="submit" :disabled="this.model.endVerse === 0 || this.model.date === ''">
            {{ model.id ? 'Save' : 'Add' }}
          </button>
          
        </form>
      </div>

      <div class="pagination">
        <button @click="prevWeek">Previous Week</button>
        <button @click="thisWeek">This Week</button>
        <button @click="nextWeek">Next Week</button>
      </div>

      <table class="entry-container">
        <tbody>
          <template v-for="entryDate of entryDates">
            <tr class="entry-date-row">
              <td colspan=3>
                <span>{{ displayDate(entryDate.date) }}</span>
                <span style="float: right;">{{ entryDate.verses }} verses</span>
              </td>
            </tr>
            <tr v-for="entry of entryDate.entries" :class="'entry-row ' + (entry.id === model.id ? 'active' : '' )">
              <td>{{ displayVerseRange(entry.startVerseId, entry.endVerseId) }}</td>
              <td>{{ displayVerseRangeCount(entry.startVerseId, entry.endVerseId) }} verses</td>
              <td>
                <button @click="openEditEntryForm(entry.id)" :disabled="formOpen">Edit</button>
                <button @click="deleteEntry(entry.id)">Delete</button>
              </td>
            </tr>
            <tr v-if="!entryDate.entries.length" class="entry-row">
              <td>No Entries</td>
              <td colspan="2"></td>
            </tr>
          </template>
          <tr v-if="loading">
            <td colspan=2>Loading...</td>
          </tr> 
          <tr v-if="!loading && !entryDates.length">
            <td colspan=2>No Log Entries</td>
          </tr>
        </tbody>
      </table>
			
    </div>
  </div>
  
	<div layout:fragment="bodyscripts">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="/js/log.vue.js"></script>
  </div>
</body>

</html>