<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Bible Log</title>
</head>

<body>
	<div layout:fragment="content">
		
		<h1>Log Entries</h1>
		
		<ul>
			<li th:each="entry : ${logEntries}">
				<strong>Start Verse ID:</strong> <span th:text="${entry.startVerseId}"></span>
				<br>
				<strong>End Verse ID:</strong> <span th:text="${entry.endVerseId}"></span>
			</li>
		</ul>
		
		
		<form method="POST" action="/add" class="js-log-entry-form">
		
			<select name="bookId">
				<option disabled selected="true">Choose Book</option>
				<option
					th:each="book : ${books}"
					th:text="${book.name}"
					th:value="${book.bibleOrder}">
				</option>
			</select>
			
			<button>Add</button>
			
		</form>
		
		<script src="/js/log-page.js"></script>
		<script>LogPage.init();</script>
	
	</div>
</body>

</html>