<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Log In</title>
</head>

<body>
	<div layout:fragment="content">

		<h2>Log In</h2>
		
		<nav>
			<a class="button-link" href="/oauth2/authorization/google">Sign in with Google</a>
			<a class="button-link" href="/oauth2/authorization/facebook">Sign in with Facebook</a>
		</nav>

	</div>
</body>

</html>