<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Bible Log</title>
</head>

<body>
	<div layout:fragment="content">
		
		<h1 th:text="#{label.form.title}">form</h1>
		
		<form action="/" th:object="${user}" method="POST" enctype="utf8">
		    <div>
		        <label th:text="#{label.user.firstName}">first</label>
		        <input th:field="*{firstName}"/>
		        <p th:each="error: ${#fields.errors('firstName')}"
		          th:text="${error}">Validation error</p>
		    </div>
		    <div>
		        <label th:text="#{label.user.lastName}">last</label>
		        <input th:field="*{lastName}"/>
		        <p th:each="error : ${#fields.errors('lastName')}"
		          th:text="${error}">Validation error</p>
		    </div>
		    <div>
		        <label th:text="#{label.user.email}">email</label>
		        <input type="email" th:field="*{email}"/>
		        <p th:each="error : ${#fields.errors('email')}"
		          th:text="${error}">Validation error</p>
		    </div>
		    <div>
		        <label th:text="#{label.user.password}">password</label>
		        <input type="password" th:field="*{password}"/>
		        <p th:each="error : ${#fields.errors('password')}"
		          th:text="${error}">Validation error</p>
		    </div>
		    <div>
		        <label th:text="#{label.user.confirmPass}">confirm</label>
		        <input type="password" th:field="*{matchingPassword}"/>
		    </div>
		    <button type="submit" th:text="#{label.form.submit}">submit</button>
		</form>
		 
		<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>

	</div>
</html>