<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Bible Log - Privacy Policy</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="page-column">
		
			<h1>Welcome to our Privacy Policy</h1>
			<h3>Your privacy is critically important to us.</h3>
			
			<p>It is My Bible Log's policy to respect your privacy regarding any information we may collect while operating our
			  website. This Privacy Policy applies to <a href="https://www.mybiblelog.com">https://www.mybiblelog.com</a>
			  (hereinafter, "us", "we", or "https://www.mybiblelog.com"). We respect your privacy and are committed to protecting
			  personally identifiable information you may provide us through the Website. We have adopted this privacy policy
			  ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under
			  what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information
			  we collect through the Website and does not apply to our collection of information from other sources.</p>
			<p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and
			  policies governing your use of our Website. Depending on your activities when visiting our Website, you may be
			  required to agree to additional terms and conditions.</p>
			
			<h2>Website Visitors</h2>
			<p>Like most website operators, My Bible Log collects non-personally-identifying information of the sort that web
			  browsers and servers typically make available, such as the browser type, language preference, referring site, and the
			  date and time of each visitor request. My Bible Log's purpose in collecting non-personally identifying information is
			  to better understand how My Bible Log's visitors use its website. From time to time, My Bible Log may release
			  non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its
			  website.</p>
			
			<h2>Security</h2>
			<p>The security of your Personal Information is important to us, but remember that no method of transmission over the
			  Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to
			  protect your Personal Information, we cannot guarantee its absolute security.</p>
			
			<h2>Aggregated Statistics</h2>
			<p>My Bible Log may collect statistics about the behavior of visitors to its website. My Bible Log may display this
			  information publicly or provide it to others. However, My Bible Log does not disclose your personally-identifying
			  information.</p>
			
			
			<h2>Cookies</h2>
			<p>To enrich and perfect your online experience, My Bible Log uses "Cookies", similar technologies and services provided
			  by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
			<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser
			  provides to the website each time the visitor returns. My Bible Log uses cookies to help My Bible Log identify and
			  track visitors, their usage of https://www.mybiblelog.com, and their website access preferences. My Bible Log visitors
			  who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using My
			  Bible Log's websites, with the drawback that certain features of My Bible Log's websites may not function properly
			  without the aid of cookies.</p>
			<p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to My
			  Bible Log's use of cookies.</p>
			
			<h2>Privacy Policy Changes</h2>
			<p>Although most changes are likely to be minor, My Bible Log may change its Privacy Policy from time to time, and in My
			  Bible Log's sole discretion. My Bible Log encourages visitors to frequently check this page for any changes to its
			  Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your
			  acceptance of such change.</p>
			
		</div>
	</div>
</body>

</html>