/* Dropdown */
.mbl-dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.mbl-dropdown--active .mbl-dropdown__menu {
  display: block;
}

.mbl-dropdown--right .mbl-dropdown__menu {
  left: auto;
  right: 0;
}

.mbl-dropdown__trigger {
  display: inline-block;
}

.mbl-dropdown__menu {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.mbl-dropdown__content {
  background-color: var(--mbl-bg);
  border-radius: var(--mbl-radius);
  box-shadow: var(--mbl-shadow);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.mbl-dropdown__item {
  color: var(--mbl-text);
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  text-decoration: none;
}

.mbl-dropdown__item:hover {
  background-color: var(--mbl-bg-muted);
  color: var(--mbl-text);
}

/* Tabs */
.mbl-tabs {
  margin-bottom: 1.5rem;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.mbl-tabs ul {
  align-items: center;
  border-bottom: 1px solid var(--mbl-border);
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mbl-tabs li {
  display: block;
}

.mbl-tabs li a,
.mbl-tabs li .nuxt-link-active {
  align-items: center;
  border-bottom: 1px solid var(--mbl-border);
  color: var(--mbl-text);
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  text-decoration: none;
  vertical-align: top;
}

.mbl-tabs li a:hover {
  border-bottom-color: var(--mbl-text);
  color: var(--mbl-text);
}

.mbl-tabs li a.nuxt-link-exact-active,
.mbl-tabs li a.nuxt-link-active.router-link-exact-active,
.mbl-tabs li a.router-link-exact-active {
  border-bottom-color: var(--mbl-tab-active);
  color: var(--mbl-tab-active);
}
